setuptools==41.0.1
absl-py==0.7.1
apipkg==1.5
assertpy==0.14
astor==0.8.0
atomicwrites==1.3.0
attrs==19.1.0
cloudpickle==1.2.1
Cython==0.29.13
decorator==4.4.0
execnet==1.6.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
importlib-metadata==0.19
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
more-itertools==7.2.0
numpy==1.17.0
packaging==19.1
pep8==1.7.1
pluggy==0.12.0
protobuf==3.9.0
py==1.8.0
pyparsing==2.4.2
pystan==2.19.0.0
pytest==5.0.1
pytest-cache==1.0
pytest-mock==1.10.4
pytest-pep8==1.0.6
six==1.12.0
tensorboard==1.14.0
tensorflow==1.15.0
tensorflow-estimator==1.14.0
tensorflow-probability==0.7.0
termcolor==1.1.0
wcwidth==0.1.7
Werkzeug==0.15.5
wrapt==1.11.2
zipp==0.5.2
